*{
    font-family: Lato;
}

#add-item-panel{
    display:inline-block;
    align-content: center;
    margin-left:5%;
}

.itemForm{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}

img{
    width: 100px;
    height: 100px;
    align-content: center;
}

.baseButton{
    margin-top: 5%;
}