
<div class="container">
  <h1>to-do app</h1>
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
    <div class="form-group form-group-dark">
      <label for="exampleInputEmail1">Task</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ngModel name="task" 
      required>
      <small *ngIf = "taskForm.invalid" id="emailHelp" class="form-text text-danger">required field</small>
    </div>
    
    <button 
    [disabled]="taskForm.invalid"
    id="submitButton" class="btn btn-primary">Submit</button>
  </form>
  <hr>
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Complete</th>
        <th scope="col">Delete<th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of taskArray; index as i">
        <td>{{t.taskName}}</td>
        <td> <input (change)="onCheck()" type ="checkbox" id="myCheckBox"> </td>
        <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">delete</button></td>
      </tr>
      
    </tbody>
  </table>
</div>
