*{
    font-family: sans-serif;
    margin: 3%;
}


.itemList{
    display: inline-flex;
}
.itemButton{
    height: 200px;
    width: 150px;


    border-radius: 3%;
    background-color: rgb(250,250,50);

    margin:10px;
    transition: 0.3s;

}

.itemButton:Hover{
    translate: 0px -10px;
    border-style: outset;
    border-color: rgb(100,100,50);
}

.itemButton:Target{
    translate: 0px -20px;
}

*{
    vertical-align: left;
}
.name-price{
    /*display: grid; 
    grid-template-columns: 1fr 1fr;
    */

}

.name-display{

}

.price-display{

}

.img-button{
    height: 50%;
    width: 90%;

    margin-left: 5%;
    margin-top: 5%;

}

.description-display{
    height: 40%;
    width:90%;
    font-size:smaller;

    text-align: justify;

}